<div class="col-s-12 col-md-6 text-center">
    <div class="card result-card mt-3">
      <img src="{{this.imageURL}}" class="card-img-top backup mt-3" alt="Image of {{this.name}}">
      <h5 class="card-title mt-3">{{this.name}}</h5>
      <h6 class="card-subtitle mb-2 mt-3 text-muted">{{this.brand}}</h6>
      <p class="card-text mt-3 pl-2 pr-2">{{this.type}} for {{this.forMaxNumOfUsers}} user(s). Pickup near
        {{this.locationAddress.street}}, {{this.locationAddress.city}}.</p>
      <form action="/bookings/request/{{this._id}}" method="POST" name="requestForm" id="{{this._id}}">
        <button type="submit" name="request" class="btn cta-bottom mt-3 mb-3" id="{{this._id}}">Request booking</button>
      </form>
      <!-- <a href="#" class="card-link">Add to favorites (soon)</a> -->
    </div>
  </div>