{{>navigation}}

{{>boatDetailMap listing}}
<div class="container">
    <div class="row px-3">
        <h1> {{listing.name}}</h1>
    </div>
    <div class="row px-3"><span>{{listing.type}}</span></div>
    <div class="row ">
        <div class="col-s-12 col-md-6 mt-4 px-3">
            <img src="{{listing.imageURL}}" alt="Image of {{listing.name}} a {{listing.type}}">
        </div>
        <div class="col-s-12 col-md-6 mt-4 ">
            <div class="row px-3">{{listing.description}}</div>
            <div class="row px-3">Max Number of users: {{listing.forMaxNumOfUsers}}</div>
            <div class="row px-3">Brand: {{listing.brand}}</div>
            <div class="row px-3">Pickup near
                {{this.locationAddress.street}}, {{this.locationAddress.city}}.</div>
        </div>

    </div>


    <div class="row px-3">
        <div class="col-s-12 mt-4">
            <form action="/bookings/request/{{listing._id}}" method="POST" name="requestForm" id="{{listing._id}}">
                <div class="form-group">
                    <label for="start">Chose date for rental:</label>
                    <div id="datePickerDiv"></div>
                    <input type="hidden" id="datePickerForm" name="bookingStart" placeholder=""
                        class="form-control" autocomplete="off" data-not-available-dates-string="{{listing.notAvailableDates}}" required>
                </div>
                <button type="submit" name="request" class="btn cta-bottom mt-3 mb-3" id="{{this._id}}">
                    Request booking
                </button>
            </form>
        </div>
    </div>
</div>

