<header>
      {{#if user}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/myboats">Listings</a>
          <a href="/logout">Logout</a>
         </nav>
      {{else}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/log-in">Login</a>
        </nav>
      {{/if}}
</header>

<h1> </h1>
<p>here you can view listings you lent to others and what you booked for yourself</p>


{{#if message}}
  <div class="alert alert-danger" role="alert">{{{message}}}</div>
{{/if}}

<hr>
<h2>Bookings I made</h2>
<ul>
{{#each data.0.madeBookings}}
    <li>Booking from: <span class="date">{{this.created_at}}</span></li>
    <li>Status: {{this.status}}</li>
    <li>Day of Booking: <span class="date">{{this.bookingStart}}</span></li>
    <hr>
{{/each}}
</ul>

<h2>Bookings have reveived for my boats and need action:</h2>

<ul>
{{#each data.1.incomingBookings}}
    <li>Booking from: <span class="date">{{this.created_at}}</span></li>
    <li>Status: {{this.status}}</li>
    <li>Day of Booking: <span class="date">{{this.bookingStart}}</span></li>
    <!-- <li><a href="/bookings/{{this._id}}/deny">Deny request</a></li>
    <li><a href="/bookings/{{this._id}}/accept">Deny request</a></li> -->
    <form action="/bookings/{{this._id}}" method="POST">
        <input type="submit" name="action" value="Accept" />
        <input type="submit" name="action" value="Decline" />
    </form>
    <hr>


{{/each}}
</ul>