
  {{#if user}}
        <nav class="navbar navbar-dark" style="background-color: #80b0ff">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/bookings">Bookings</a>
          <a class="navbar-brand" href="/myboats">My SYBs</a>
          <a class="navbar-brand" href="/logout">Logout</a>
         </nav>
      {{else}}
        <nav class="navbar navbar-dark" style="background-color: #80b0ff">
          <a class="navbar-brand" href="/log-in">Login</a>
        </nav>
      {{/if}}


<div class="container">
  <h1>EDIT THIS SYB</h1>
  <form action="/myboats/edit/{{listing._id}}" method="POST" enctype="multipart/form-data">
      
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <label for="">Boat name:</label>
          <input type="text" name="name" required value="{{listing.name}}" class="form-control">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="">Type:</label>
          <input list="type_options" name="type" required value="{{listing.type}}" class="form-control" placeholder="select">
          <datalist id="type_options">
            <option value="canoe">Canoe</option>
            <option value="kayak">Kayak</option>
            <option value="rowing">Rowing</option>
            <option value="inflatable">Inflatable</option>
            <option value="paddle">Paddle</option>
            <option value="boat">Boat</option>
          </datalist>
         </div>
     </div>
    </div>
      
      <div class="row">
        <div class="col-8">
         <div class="form-group">
          <label for="">Street:</label>
          <input type="text" name="street" required value="{{listing.locationAddress.street}}" class="form-control">
         </div>
       </div>
       <div class="col-4">
        <div class="form-group">
          <label for="">Street #:</label>
          <input type="text" name="streetNumber" required value="{{listing.locationAddress.streetNumber}}" class="form-control">
        </div>
       </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="">City:</label>
            <input type="text" name="city" required value="{{listing.locationAddress.city}}" class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="">Province:</label>
            <input type="text" name="province" value="{{listing.locationAddress.province}}" class="form-control">
          </div>
        </div>
        </div>

      <div class="form-group row">
        <div class="col">
          <label for="">Listing description:</label>
          <input type="textarea" name="description" value="{{listing.description}}" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-4">
         <div class="form-group">
          <label for="">Max users:</label>
          <input type="number" name="forMaxNumOfUsers" min="1" required value="{{listing.forMaxNumOfUsers}}" class="form-control">
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <label for="">Brand:</label>
          <input type="text" name="brand" value="{{listing.brand}}" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Not available at:</label>
        <input type="text" name="notAvailableDates" placeholder="DD/MM/YYYY,DD/MM/YYYY" value="{{listing.notAvailableDates}}" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col"> 
        <label for="photo">Upload Photo (JPG or PNG format only):</label>
        <input type="file" name="photo" value="{{listing.imageURL}}" class="form-control-file">
       </div>
    </div>

      <button type="submit" class="btn cta-top">SAVE EDITS</button>
  </form>
  <br>

   <div class="row">
    <div class="col">
      <div class="form-group">
        <form action="/myboats/delete/{{listing._id}}" method="POST">       
          <button type="submit" class="btn btn-danger">DELETE THIS SYB</button>          
        </form>
      </div>
    </div>
  </div>
</div>

 
