<header>
      {{#if user}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/bookings">Bookings</a>
          <a href="/myboats">Listings</a>
          <a href="/logout">Logout</a>
         </nav>
      {{else}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/log-in">Login</a>
        </nav>
      {{/if}}
</header>

<h1>WELCOME TO SYB</h1>
<hr>

<form action="/" method="GET">
    <select name="type" id="type-select">
        <option value=""> -  ALL  - </option>
        <option value="canoe">Canoe</option>
        <option value="kayak">Kayak</option>
        <option value="rowing">Rowing</option>
        <option value="inflatable">Inflatable</option>
        <option value="paddle">Paddle</option>
        <option value="boat">Boat</option>
    </select>
        <label for="start">Start date:</label>
        <input type="date" name="bookingStart" default="2020-08-01">
    <button type="submit">Submit</button>
</form>

<hr>
<ul>
    {{#each data}}
        <li>Owner: {{this.name}}</li>
        <li>Type: {{this.type}}</li>
        <li>Decription: {{this.description}}</li>
        <li>Available to pick up from: {{this.locationAddress.street}}, 
                                    {{this.locationAddress.streetNumber}}, 
                                    {{this.locationAddress.city}}</li>
        <form action="/bookings/request/{{this._id}}" method="POST">
            {{!-- <label for="start">Start date:</label>
            <input type="date" name="bookingStart"> --}}
            <button type="submit">Request booking</button>  
            <hr>
        </form>
    {{/each}}
</ul>