<h1>WELCOME TO SYB</h1>
<hr>
  
<ul>
{{#each data}}
    <li>Owner: {{this.name}}</li>
    <li>Type: {{this.type}}</li>
    <li>Decription: {{this.description}}</li>
    <li>Available to pick up from: {{this.locationAddress.street}}, 
                                   {{this.locationAddress.streetNumber}}, 
                                   {{this.locationAddress.city}}
    </li>
    <a href="/bookings"> BOOK IT! </a>  
    <hr>
{{/each}}
</ul>



 