<h1>WELCOME TO SYB</h1>
  
<ul>
{{#each data}}
    <li>{{this.name}}</li>
    <li>{{this.type}}</li>
    <li>{{this.description}}</li>
    <li>{{this.brand}}</li>
    <li><img src="{{this.imageURL}}" alt="image of item"></li>
{{/each}}
</ul>

<p>test</p>

 {{#if isLoggedIn}}
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
  {{/if}}