

    {{#if user}}
        <nav class="navbar navbar-dark" style="background-color: #80b0ff">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/bookings">Bookings</a>
          <a class="navbar-brand" href="/logout">Logout</a>
        </nav>
      {{else}}
        <nav class="navbar navbar-dark" style="background-color: #80b0ff">
          <a class="navbar-brand" href="/log-in">Login</a>
        </nav>
    {{/if}}


<div class="container">
 {{!--HERO SECTION --}}
  <div class="row" >
    <div class="col-12 text-center" id="hero-section">
      <h1>(Hero section)</h1>
      <hr>
    </div>  
  </div>

    {{!-- PAGE NAME --}}
  <div class="row">
    <div class="col-12 text-center" id="page-name">
      <h2>My SYBS</h2>
    </div>
  </div>

{{!-- ADD A LISTING BUTTON --}}
  <form action="/myboats/addboat" method="GET">     
    <div class="row">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary btn-block">ADD A LISTING</button>
      </div>
    </div>
  </form> 
  <hr>
  
{{!-- MY LISTINGS SECTION --}}
  <div class="row">
    {{#each user.listings}}
    <div class="col-xs-12 col-xl-6 text-center">

      <div class="thumbnail">
        <img src="{{this.imageURL}}" alt="image of boat">
      </div>
    
      <div class="caption">
        <h4>SYB Name: {{this.name}}</h4>
      </div>

      <div>
        <ul style="list-style-type:none"> 
          <li>Type: {{this.type}}</li>
          <li>Decription: {{this.description}}</li>
          <li>Available to pick up from: {{this.locationAddress.street}}, 
                                        {{this.locationAddress.streetNumber}}, 
                                        {{this.locationAddress.city}}</li>
        </ul>
        
        <a href="/myboats/edit/{{this._id}}" class="btn btn-secondary">EDIT BOAT</a>
      </div>
      <hr>
    </div>
    {{/each}}
  </div>
</div>