

    {{#if user}}
        <nav class="navbar navbar-dark" style="background-color: #80b0ff">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/bookings">Bookings</a>
          <a class="navbar-brand" href="/logout">Logout</a>
        </nav>
      {{else}}
        <nav class="navbar navbar-dark" style="background-color: #80b0ff">
          <a class="navbar-brand" href="/log-in">Login</a>
        </nav>
    {{/if}}


<div class="container">
<h1>MY SYBS</h1>
<hr>

<form action="/myboats/addboat" method="GET">       
  <button type="submit">ADD A LISTING</button>          
</form>
<hr>
  
<ul>
{{#each user.listings}}
    <li><img src="{{this.imageURL}}" alt="image of boat"></li>  
    <li>Name: {{this.name}}</li>
    <li>Type: {{this.type}}</li>
    <li>Description: {{this.description}}</li>
    <li>Available to pick up from: {{this.locationAddress.street}}, 
                                   {{this.locationAddress.streetNumber}}, 
                                   {{this.locationAddress.city}}</li>
    <a href="/myboats/edit/{{this._id}}">EDIT BOAT</a>   
    
    <hr>

{{/each}}
</ul>

</div>