
<header>
    {{#if user}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/bookings">Bookings</a>
          <a href="/myboats">Listings</a>
          <a href="/logout">Logout</a>
         </nav>
      {{else}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/log-in">Login</a>
        </nav>
    {{/if}}
</header>

<h1>WELCOME TO SYB</h1>
<hr>

<form action="/myboats/addboat" method="GET">       
  <button type="submit">ADD A BOAT</button>          
</form>
<hr>
  
<ul>
{{#each result}}
    <li>Name: {{this.name}}</li>
    <li>Type: {{this.type}}</li>
    <li>Description: {{this.description}}</li>
    <li>Available to pick up from: {{this.locationAddress.street}}, 
                                   {{this.locationAddress.streetNumber}}, 
                                   {{this.locationAddress.city}}
    </li>
    <a href="/myboats/edit/{{this._id}}">EDIT BOAT</a>
    
    <hr>

{{/each}}
</ul>